@font-face {
    font-family: 'Avara_Bold';
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.eot');
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.woff') format('woff'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.woff2') format('woff2'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.ttf') format('truetype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.eot');
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.eot?#iefix') format('embedded-opentype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.woff') format('woff'),
            url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.woff2') format('woff2'),
            url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.ttf') format('truetype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/BoldItalic/Avara-Bold_Italic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/BlackAvara-Black.eot');
    src:    url('../../../../fonts/Avara-master/fonts/webfonts/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Black/Avara-Black.woff') format('woff'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Black/Avara-Black.woff2') format('woff2'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Black/Avara-Black.ttf') format('truetype'),
            url('../../../../fonts/Avara-master/fonts/webfonts/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
